body {
  display: grid;

  grid: 1fr 4fr / 1fr 4fr 1fr;
}

.site-header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content-area {
  grid-area: content;
}

.site-footer {
  grid-area: footer;
}
