body {
  display: grid;

  grid: 1fr 4fr 1fr/ 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "footer footer";
}

.site-header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content-area {
  grid-area: content;
}

.site-footer {
  grid-area: footer;
}
